/* Comentarios en css  */

*{
    margin: 0;
    padding: 0;
    // border-color: red;
    // border-style: dotted;
    // border-width: 1px;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


#Portada, h2 {
    line-height: 4;
    //font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 18px;
    color: rgb(37, 150, 190);
}

p{
    color: rgb(37, 150, 190);
    text-align: center;
    font-size: 18px;
}



//Linea del Tiempo
// ----------------  THE BASICS

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

body {
	font-size: 14px;
	line-height: 1.5;
}

// ----------------  THE FONTS

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 2rem;
	margin-bottom: .5em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: .8rem;
}

// ----------------  LAYOUT

.container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

// ----------------  THE FONTS

$border-color: rgba(black, .3);

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(black, .7);
	border-left: 2px solid $border-color;
	
	p {
		font-size: 1rem;
	}
	
	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 60%,
			rgba($border-color, 0)) 1 100%
		;
	}
}

//Linea del Tiempo


#Container2{
    display: flex;
    justify-items: center;
}


#Flotante {
    display: flex;
    justify-items: center;
    justify-content: center;

    
    nav {
        position: fixed;
        
        justify-self: center;
        margin-left: 25px;
    }
    
}



h2 {
color: rgb(37, 150, 190);
}

.Video{
    height: auto;
    width: 100%;
}


 

.BlogTitulo{
    text-align: left;
    text-decoration: underline;
}
.BlogSubtitulo{
    text-align: left;
    color: gray;
}



@font-face{
    font-family: "DMSerif";
    src: url("Fonts/DMSerifDisplay-Regular.ttf");
}


ul {
    //border-style: solid;
    
        li{
        text-decoration: none;
        list-style-type: none;
        //border-style:  solid; /*Linea Provicional*/
        //border-width: 0.5px;  /*Linea Provicional*/
        
        border-radius: 20px;
        margin: 5px auto 5px auto;
        color: rgb(37, 150, 190);
        font-size: large;
       
                &:hover{
                    background-color: lightskyblue;
                    color: #DEEBF7;
                    border-radius: 10px;
                }



        }




}



#grilla {
    display: grid;

}

header {
    grid-area: header;
}


Menu {
    grid-area: Menu;

}


Central{
    grid-area: central;
}

Publicidad{
    grid-area:publicidad;
}

footer{
    grid-area: footer;
    //
        
   
}




@media screen and (min-width:320px){

    #grilla {
        grid-template-areas: 
            "header"
            "Publicidad"
            "Menu"
            "Central"
            "footer";

        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    #ContainerArticulos {
        display:grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
        
        }

         .Articulos{
            
            
            padding-top:5px;
            padding-left: 3px;
        
            width: 90%;
            height: 220px;
            font-size: 12px;
            border-style: solid;
            margin: 5px;
            border-radius: 20px;
            border-width: 1px;
        
                &:hover{
                    border-color: blue;
                    box-shadow: 1em 1em #98CCFD;
                }
        
        
         }

         footer{
            display:flex;
            
            //justify-content: center;
            align-items: center;

    
            #PieDePagina{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
        
                flex-direction: column;
        
                border-width: 1px;
                background-color: #98CCFD;
    
                border-style: solid;
                border-radius: 20px;
                border-color: blue;
    
                width: 90%;
                height: 90px;
                
            }
    
       
            #SocialMedia{
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                height:30px;
                width:200px;
             }

             a {
                display: flex;
                justify-content: center;
        
            }
    
        }
}



   








@media screen and (min-width:768px) {

        #grilla {
            grid-template-areas: 
                "header header header"
                "Menu Central Central"
                "footer footer footer";

            grid-template-columns: 180px 55% 20%;
            grid-template-rows: 150px 85% 15%;

            grid-column-gap: 5px;
            grid-row-gap: 5px;
        }


        header {

            font-family: "DMSerif";
            
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            text-align: center;
 
                #Titulo{
                    width: 80%;
                    background-color: #98CCFD;
                    border-radius: 60px;
                    color: white;
                    border-width: 1px;

                    &:hover{
                        background-color:lightblue;
                        box-shadow: #98CCFD;
                    }

                }
            
        }


 


         #ContainerArticulos{
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            //height :auto;

            
         }

         
    
        #Menu{
            display: flex;
            justify-content: center;
            
            
         //   border-style: solid;
            
            
        }

        .Articulos{
             padding-top:2px;
             padding-left: 3px;
            

            width: 350px;
            height: 250px;

            font-size: 12px;
            border-style: solid;
            margin: 8px;

            border-radius: 20px;
            border-width: 1px;
        
                &:hover{
                    border-color: #98CCFD;
                    box-shadow: 1em 1em #98CCFD;
                    border-width: 3px;
                }
        
        
         }
    
        a {
            display: flex;
            justify-content: center;
    
        }

        
    footer{
        display:flex;
        justify-content: center;
         padding: 5px;

        #PieDePagina{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
    
            flex-direction: column;
    
            border-width: 1px;
            background-color: #98CCFD;

            border-style: solid;
            border-radius: 20px;
            border-color: blue;

            width: 80%;
            height: 90px;
            
        }



  



        #SocialMedia{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 40px;
            width: 500px;
         }





    }
  
}